html{
	height: 100%;
}

body{
	font-family: 'Lucida Console', Monaco, monospace;
	margin:0px;
	padding: 0px;

	min-height: 100%;
	display: flex;
	flex-direction: column;
	background-image:url(pic/wallpaper.jpg);
}

/*----------------BAR DE NAVIGATION-----------*/
nav{
	width: 100%;
	background-color: #154360; /*couleur bandeau*/
	position: fixed;
	display: flex;
	justify-content: center;
}

.logoLD{
	margin-left: 60px;
	margin-top: 5px;
	max-width: 50px;
	height: auto;
}


nav > ul{
	margin:0px;
	padding: 0px; /*taille du bandeau*/
	display: block;
}

nav > ul::after{
	content: "";
	display: table;
	clear: both;
}

nav > ul >li{
	float: left;
	position: relative;
}

nav > ul > li > a{
	padding: 20px 30px;
	color: #FFF;
}

nav > ul > li:hover a{
	padding: 15px 30px 20px 30px
}

nav li{
	list-style-type: none;
}

.sous-menu{
	display: none;
}

nav input[type=checkbox]{
	display: none;
}

nav label{
	display: none;
}

nav a{
	margin: 0px; /*agrandit le tous*/
	display: inline-block;
	text-decoration: none;
}

nav li:hover .sous-menu{
	display:inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding:0px;
	z-index:1000; 
}

.sous-menu li{
	border-bottom: 1px solid #CCC /*bande blanche onglets: à changer*/;
}


.sous-menu li a{
	border-bottom: 15px 30px;
	font-size: 14px;
	color: #222538;
	width: 200px;
}

.onglet:hover{
	border-top: 5px solid #0070bb; 
	background-color: RGBa(000, 112, 192, 0.15); /*couleur de fond en semi-transparance*/
}

.onglet .sous-menu{
	background-color: RGB(000,160,240);
}

.sous-menu li:hover a{ /*surligne en gras quand on passe sous les sous onglet*/
	color: #EEE;
	font-weight: bold;
}

.onglet .sous-menu li:hover{
	background-color: RGB(000, 115, 200);
}

nav input[type=checkbox]:checked ~ ul{
	display: block;
}

@media screen and (max-width: 780px){


	nav{
		justify-content: left;
	}

	.menu-mobile{
		display: block;
		color: #FFF;
		background-color: #154360; /*bleu-vert à changer*/
		padding: 12px 8px;
	}

	nav > ul >li{
		left: 0%;
	}

	nav ul{
		display: none;
	}

	nav ul li, nav ul li a{
		width: 100%;
		text-align: center;
	}

	nav ul li a, nav ul li:hover a{
		padding: 10px 0px;
	}

	.sous-menu li{
	border-bottom: 1px solid #154360 /*bande bleu onglets*/;
	}


	nav li:hover .sous-menu{
		display: block;
		position: static;
	}
}

/*------------haut de page-----------*/
header{
	background-color: blue;
}


/*------------ pied de page---------*/

footer{
	background-color: #a9a9a9 ;
	margin-top: auto;text-align: center;
}

footer > ul > li{
	float: left;
	position: relative;
	left: 37%;
	padding: 15px;
}

footer li{
	list-style-type: none;
}

.logoSEN{
	max-width: 100px;
	height: auto;
}

/*-----------contenue-------------*/
.main {
	width: 90vw;
	max-width: 1100px;
	margin: 0px auto;
	margin-top: 50px;
}

.main-box, .map-box, .video-box, .real-box {
	width: 100%;
	margin: 30px auto;
	padding: 20px 8%;
	font-size: larger;
	/*border: 2px solid #1b75bb;*/
	/*box-shadow: 0px 0px 2px #114b78;*/
	box-sizing: border-box;
	text-align: justify;
}

.map-box, .video-box {
	width: 90vw;
	max-width: 870px;
}

.real-box {
	color: black;
	width: 80vw;
	max-width: 470px;
}

.main-box h1 {
	text-transform: uppercase;
	text-align: center;
	font-size: 24px;
	margin: 15px 0px 15px 0px;
}

.main-box h2, .map-box h2, .video-box h2, .real-box h2 {
	text-align: center;
	font-size: 24px;
	margin: 8px 0px 8px 0px;
}

.main-box p, .map-box p {
	margin-top: 15px;
}

.main-box a, .real-box a {
	color: #1b75bb;
}

.map-responsive {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}

.map-responsive iframe {
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}


.main-box p {
	line-height: 24px;
}


/*---------------------Formulaire----------------------*/

form{
  max-width: 450px;
  background: #fafafa;
  padding: 30px;
  margin: 50px auto;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 6px solid #305a72;
}


form input[type="submit"]:hover {
  background: linear-gradient(to bottom, #2d77a2 5%, #337da8 100%);
  background-color: #28739e;
}

textarea{
	width: 100%;
	height: 300px;
	resize: none;
}